@model IEnumerable<BugBurner.Models.Ticket>
@inject IBTTicketService _TicketService;
@inject UserManager<BTUser> _UserManager;
@{
    ViewData["Title"] = "Archived Tickets";
    BTUser? bTUser = await _UserManager.GetUserAsync(User);
    int companyId = bTUser.CompanyId;

    
}

<h4>Archived Tickets</h4>
<hr />
<div class="row pb-3">

    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                @*tickets Table*@
                <h4 class="header-title mt-0 mb-3">Latest Tickets</h4>

                <div class="table-responsive">
                    <table class="table table-hover mb-0" id="ticketTable">

                        <thead>
                            <tr>
                                <th>Ticket Name</th>
                                <th>Start Date</th>
                                <th>Developer</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Ticket ticket in Model)
                            {
                                <tr>
                                    <td> <a asp-action="ArchivedDetails" asp-controller="Tickets" asp-route-id="@ticket.Id">@ticket.Title </a></td>
                                    <td>@ticket.Created</td>
                                    @if (ticket.TicketPriority?.Name == "High")
                                    {
                                        <td><span class="badge bg-warning">@ticket.TicketPriority!.Name</span></td>

                                    }
                                    else if (ticket.TicketPriority?.Name == "Urgent")
                                    {
                                        <td><span class="badge bg-danger">@ticket.TicketPriority!.Name</span></td>

                                    }
                                    else if (ticket.TicketPriority?.Name == "Low")
                                    {
                                        <td><span class="badge bg-success">@ticket.TicketPriority!.Name</span></td>
                                    }
                                    else if (ticket.TicketPriority?.Name == "Medium")
                                    {
                                        <td><span class="badge bg-pink">@ticket.TicketPriority!.Name</span></td>
                                    }

                                    @if (ticket.DeveloperUser != null)
                                    {
                                        <td>@ticket.DeveloperUser!.FullName</td>
                                    }
                                    else
                                    {
                                        <td class="text-danger"><a text-danger asp-action="AssignTicket" asp-controller="Tickets" asp-route-id="@ticket.Id ">Unassigned</a></td>
                                    }
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div><!-- end col -->

</div>