@model BugBurner.Models.Ticket
@inject IBTFileService BTFileService;
@{
    ViewData["Title"] = "Details";
}
<div class="row pt-3 pb-2">
    <div class="col-sm-7">
        <div class="card">
            <div class="bg-picture card-body">
                <div class="d-flex align-items-top">
                    <div class="flex-grow-1 overflow-hidden">
                        <h4 class="m-0">@Model.Title</h4>
                        <p class="text-muted"><i>@Model.TicketPriority!.Name</i></p>
                        <p class="text-muted"><i>@Model.DeveloperUser!.FullName</i></p>
                        <p class="font-13">@Model.Description</p>
                        @if(User.IsInRole("Admin")||User.IsInRole("ProjectManager") || User.IsInRole("Developer"))
                        {
                       <a class="btn btn-sm btn-outline-blue" asp-action="ArchiveTicket" asp-controller="Tickets" asp-route-id="@Model.Id">Mark Complete</a><br />
                            @if(Model.Archived == true && Model.ArchivedByProject == false)
                            {                                
                            <a class="btn btn-sm btn-outline-blue" asp-action="ArchiveTicket" asp-controller="Tickets" asp-route-id="@Model.Id">Undo Archive</a>
                            }
                        }
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--/ meta -->

        <h4>Comment</h4>
        <hr />
        <div class="card">
            <form asp-action="Create" asp-controller="TicketComments" class="card-body">
                <span class="input-icon icon-end">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" name="TicketId" />
                        <div class="row row-md-10">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="editor">Leave a Comment</label>
                                    <textarea id="editor" class="form-control" name="Comment"></textarea>
                                </div>
                            </div>
                        </div>
                       
                        <div class="pt-1 float-end form-submit">
                            <input name="submit" type="submit" id="submit" class="btn btn-primary btn-sm waves-effect waves-light" value="Comment" />

                        </div>

                </span>
            </form>
        </div>

        <h4>Ticket Comments</h4>

        <div class="card">
            <div class="card-body"> 
                @foreach(TicketComment comment in Model.Comments)
                {
                <div class="d-flex align-items-top mb-2">                    
                    <div class="flex-grow-1">
                        <h5 class="mt-0">By:@comment.User!.FullName <small class="ms-1 text-muted">@comment.Created</small></h5>
                        <p>@comment.Comment</p>
                    </div>
                </div>                    
                }
            </div>
        </div>
    </div>

    <div class="col-sm-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mt-0 mb-3"><i class="mdi mdi-notification-clear-all me-1"></i>Ticket Attachments</h4>
                <div>
                    <form asp-action="AddTicketAttachment" asp-controller="Tickets" enctype="multipart/form-data" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="@Model.Id" name="TicketId">
                        <div class="media-body ml-3">
                            <label>
                                Description
                                <input name="Description" type="text" class="form-control" />
                            </label><br />
                            <label class="btn btn-outline-primary btn-sm mt-2">
                                <input name="FormFile" type="file" class="form-control-file" />
                            </label>
                            <button type="submit" class="btn btn-outline-success btn-sm md-btn-flat mt-2">Submit</button>
                        </div>
                    </form>
                </div>
                <ul class="list-group mb-0 user-list">
                    @foreach(TicketAttachment attachment in Model.Attachments)
                    {
                        <li class="list-group-item">
                            <a asp-action="ShowFile" asp-controller="Tickets" asp-route-Id="@attachment.Id" class="user-list-item">
                            <div class="user float-start ">
                                    <img src="@BTFileService.GetFileIcon(attachment.FileName!)" 
                                    style="height:30px;width:30px" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="@attachment.FileName" />
                            </div>
                            <div class="user-desc overflow-hidden">
                                <h5 class="name mt-0 mb-1">@attachment.Description</h5>
                                    <span class="desc text-muted font-12 text-truncate d-block">Size: @BTFileService.FormatFileSize(attachment.FileData!.Length) </span>
                            </div>
                        </a>
                    </li>
                        
                    }
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="dropdown float-end">
                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Action</a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                    </div>
                </div>

                <h4 class="header-title mt-0 mb-3">Ticket History</h4>

                <ul class="list-group mb-0 user-list">
                    @foreach(TicketHistory history in Model.History)
                    {
                    <li class="list-group-item">
                            <div class="">

                                <span class="date" style="font-weight:bold">@history.Created.ToString("dd MMM yyyy")</span>
                                <h6>@history.Description</h6>
                                <span>By: <a href="" title="@history.User!.FullName">@history.User.FullName</a></span>
                                <div class="">
                                    @if (history.Description!.Contains("New Ticket Created"))
                                    {
                                        <p>A Ticket Has Been Added.</p>
                                    }
                                    else if (history.PropertyName!.Equals("Ticket Comment") || history.PropertyName.Equals("TicketAttachment"))
                                    {
                                        <p>A <b>@history.PropertyName</b> was added</p>
                                    }
                                    else
                                    {
                                        <p>The Ticket <b>@history.PropertyName</b> has been edited.</p>
                                        <p>@($"Previous {history.PropertyName}")</p> <span style="color:red">@history.OldValue</span>
                                        <p>@($"Previous {history.PropertyName}")</p> <span style="color:green">@history.NewValue</span>
                                    }

                                </div>
                            </div>
                            
                    </li>   
                    }
                </ul>
            </div>
        </div>

    </div>
</div>  